.navigation {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #000;
  list-style: none;
  margin: 0;
  padding: 10px;
  width: 200px;
}

.link {
  text-decoration: none;
  padding: 10px;
  color: #000;
}

.link:hover {
  background-color: #e0dff2;
}
